<html>
<head>
    <meta charset="utf-8" />
    <title>UberEats::Menu</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous"></script>
    <script>window.__PUBLIC_PATH__ = '../fonts/'</script>
    <script src="../js/bootstrap-italia.min.js"></script>

    <!--iniAlertify-->
    <script src="../js/alertify.min.js"></script>
    <link rel="stylesheet" href="../css/alertify.min.css" />
    <link rel="stylesheet" href="../css/themes/default.min.css" />
    <!--endAlertify-->

    <link rel="stylesheet" href="../css/bootstrap-italia.min.css">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="theme-color" content="#083756" />

    <script>
     
        function LlamarInicioRestaurantes() {
            $("#svgAtraz1").removeClass('active');
            $("#imagenInicioRestaurantes").removeClass('active');
        }
        function LlamarRestauranteProductos() {
            //$("#imagenInicioRestaurantes").click(function () {
            $("#imagenInicioRestaurantes").removeClass('active');
            $("#svgAtraz1").removeClass('active');

            //});
        }
        function LlamarProductoSeleccionado() {
            $("#divProducto1").removeClass('active');
            $("#svgAtraz2").removeClass('active');          
        }

        function LlamarMenu3() {
            /* $("#pills-menu3").slideToggle("slow");*/ //oculta hacia arriba
            $("#contenedor_menu3").slideDown("slow");
            $("#oculta_atraz3").slideDown("slow");
            $("#cerrar_m4").slideUp("slow");

            $("#contenedor1").hide("slow");

            $("#divProducto1").removeClass('active');
            $("#svgAtraz2").removeClass('active');
        }

        function LlamarRealizarPedido() {           
            $("#btnAgregarProducto").removeClass('active');
            $("#svgAtraz3").removeClass('active');
            //$("#pills-menu3").slideUp("slow");
            $("#contenedor_menu3").slideUp("slow");
            $("#oculta_atraz3").slideUp("slow");
            $("#cerrar_m4").slideDown("slow");

            $("#contenedor1").show("slow");

            $("#Contenedor_Boton_Confirmar_Cancelar_Pedido").slideUp("slow");

              
        }

        function LlamarConfirmarCancelarPedido() {
            $("#txtDireccion").prop("disabled", true);
            $("#selectTipoPago").prop("disabled", true);            
            $("#contenedor_boton_confirmar_pedido").slideUp("slow");
            $("#Contenedor_Boton_Confirmar_Cancelar_Pedido").slideDown("slow");
        }

        function AlertaSiDeseaCancelarPedido() {
            alertify.confirm("¿Realmente deseas cancelar el pedido?",
                function () {
                    
                   location.reload();
                },
                function () {
                   
                });
        }

        //dinamica tipo de pago (tarjeta o efectivo)
        function selectTipoPago() {
            var optionValue = $("#selectTipoPago").val();
            $('#contenedor_Pago_Tarjeta').hide();
            if (optionValue == 1) {
                $('#contenedor_Pago_Tarjeta').show();
                $("#txtNombreTarjeta").prop("disabled", true);  
                $("#txtNumeroTarjeta").prop("disabled", true);  
                
                $("#selectTipoPagoTarjeta").prop("disabled", true);  
                

            } else {
                $('#contenedor_Pago_Tarjeta').hide();
            }         
        }
         
    </script>

</head>


<body>
    <!--script bootstrap-->
    <script src="../js/bootstrap-italia.bundle.min.js"></script>



    <div class="container">
        <div class="row">
            <div class="col-sm" style="padding-left:0px;padding-right:0px;">
                <div class="tab-content" id="pills-tabContent">
                    <!--1.MenuPrincipal Lista Restaurantes --->
                    <div class="tab-pane fade show active" id="pills-menu1" role="tabpanel" aria-labelledby="pills-menu1-tab">

                        <div id="app" class="">
                            <!--#IniHeader-->
                            <div class="it-header-slim-wrapper theme-light">
                                <div class="container">
                                    <div style="text-align: right">
                                        <span style="font-weight:bold">{{usuarios.usuariotarjetadt.idusuario}} {{usuarios.usuariotarjetadt.nombre}} {{usuarios.usuariotarjetadt.apellidos}}</span>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-12" style="padding-left:0px">
                                            <div class="it-header-slim-wrapper-content">

                                                <div class="nav-mobile">
                                                    <nav>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-1">
                                                                    <!--<svg class="icon">
                                        <use xlink:href="../svg/sprite.svg#it-burger"></use>
                                    </svg>-->
                                                                </div>
                                                                <div class="col-sm-10 text-center">
                                                                    <span>Ordenar Restaurante</span>
                                                                </div>
                                                                <div class="col-sm-1">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--#FinHeader-->
                            <!--#IniHeader-->
                            <div class="it-header-slim-wrapper theme-light">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12" style="padding-left:0px">
                                            <div class="it-header-slim-wrapper-content">

                                                <div class="nav-mobile">
                                                    <nav>
                                                        <!--<svg class="icon">
                                        <use xlink:href="../svg/sprite.svg#it-burger"></use>
                                        </svg>-->
                                                        <h6>Restaurantes</h6>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--#FinHeader-->
                            <!--start card1-->
                            <div class="card-wrapper" v-for="item in comercios" :value="item.idcomercio">

                                <div class="card card-img no-after">
                                    <div class="img-responsive-wrapper">
                                        <div class="img-responsive">
                                            <figure class="img-wrapper" style="cursor:pointer">
                                                <img id="imagenInicioRestaurantes" onclick="LlamarRestauranteProductos();" data-toggle="pill" href="#pills-menu2" v-bind:src="src+item.usuariocomerciodt.nombrefoto"><!---->
                                                <h1 style="position:absolute;top:80px;left:160px;color:aliceblue" @click="fetchListarComercioProductos();">{{item.idcomercio}}</h1>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding:14px">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-11" style="text-align:left;"><h6 style="margin-bottom:0px">{{item.usuariocomerciodt.razonsocial}}</h6></div>
                                                <div class="col-1" style="text-align:right;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                                    </svg>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col-11" style="text-align:left;"><span style="font-size:12px">{{item.usuariocomerciodt.categoria_Comerciodt.descripcion}}</span></div>
                                                <div class="col-2" style="text-align:right;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div></br></br>
                            <!--end card1-->


                        </div>
                    </div>

                    <!--2.Restaurante Seleccionado-->
                    <div class="tab-pane fade" id="pills-menu2" role="tabpanel" aria-labelledby="pills-menu2-tab">

                        <div id="app2" class="">
                            <div class="container-fluid">
                                <svg width="2em" height="2em" style="cursor:pointer;" viewBox="0 0 16 16" id="svgAtraz1" onclick="LlamarInicioRestaurantes();" data-toggle="pill" href="#pills-menu1" class="bi bi-arrow-left" style="color:black" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </div>

                            <!--start card1-->
                            <div class="card-wrapper" v-for="item in comercioproductos" :value="item.idcomercio">
                                <div class="card card-img no-after">
                                    <div class="img-responsive-wrapper">

                                        <div class="img-responsive">
                                            <figure class="img-wrapper">
                                                <img v-bind:src="src+item.usuariocomerciodt.nombrefoto">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding:14px;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-11" style="text-align:center;"><h6>{{item.usuariocomerciodt.razonsocial}}</h6></div>

                                                <div class="col-1" style="text-align:right;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                                    </svg>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col-11" style="text-align:center;"><span>{{item.usuariocomerciodt.categoria_Comerciodt.descripcion}}</span></div>
                                                <div class="col-2" style="text-align:right;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end card1-->
                            <!--IniTab-->
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom-color:#ffffff">
                                <li class="nav-item">
                                    <a class="nav-link active" data-attribute="forward" aria-hidden="true" style="margin-left:100px" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Más Populares</a>
                                </li>
                                <!--<li class="nav-item"><a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Tab 2</a></li>-->

                            </ul>

                            <div class="tab-content" id="myTabContent" style="cursor:pointer" v-for="item in comercioproductos" :value="item.idcomercio">
                                <div class="tab-pane p-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

                                    <div class="media" id="divProducto1" onclick="LlamarProductoSeleccionado()" data-toggle="pill" href="#pills-menu3">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">{{item.comercioproductosdt.nombreproducto}}</h5>
                                            {{item.comercioproductosdt.descripcion}}
                                            <h6 class="mt-0 mb-1">S/. {{item.comercioproductosdt.precio}}.00</h6></br></br>
                                        </div>
                                        <img class="ml-3" v-bind:src="src2+item.comercioproductosdt.nombrefotoproducto">
                                    </div>

                                </div>
                                <!--FinTab-->
                            </div>
                        </div>

                    </div>

                    <!--3.Producto Seleccionado-->
                    <div class="tab-pane fade" id="pills-menu3" role="tabpanel" aria-labelledby="pills-menu3-tab">

                        <div id="app3" class="">
                            <div class="container-fluid" id="oculta_atraz3">
                                <svg width="2em" height="2em" style="cursor:pointer;" viewBox="0 0 16 16" id="svgAtraz2" onclick="LlamarRestauranteProductos();" data-toggle="pill" href="#pills-menu2" class="bi bi-arrow-left" style="color:black" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                                    <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </div>
                            <!--start card1-->
                            <div id="contenedor3" class="card-wrapper" v-for="item in comercioproductos" :value="item.idcomercio">
                                <div class="card card-img no-after" id="contenedor_menu3">
                                    <div class="img-responsive-wrapper">

                                        <div class="img-responsive">
                                            <figure class="img-wrapper">
                                                <img v-bind:src="src3+item.comercioproductosdt.nombrefotoproducto">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="card-body" style="padding:14px;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-11" style="text-align:center;">
                                                    <h6>{{item.comercioproductosdt.nombreproducto}}</h6>
                                                    <!--<input type="text" v-model="item.comercioproductosdt.nombreproducto" readonly/>-->
                                                </div>
                                                <div class="col-1" style="text-align:right;">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 6.236l.894-1.789c.222-.443.607-1.08 1.152-1.595C10.582 2.345 11.224 2 12 2c1.676 0 3 1.326 3 2.92 0 1.211-.554 2.066-1.868 3.37-.337.334-.721.695-1.146 1.093C10.878 10.423 9.5 11.717 8 13.447c-1.5-1.73-2.878-3.024-3.986-4.064-.425-.398-.81-.76-1.146-1.093C1.554 6.986 1 6.131 1 4.92 1 3.326 2.324 2 4 2c.776 0 1.418.345 1.954.852.545.515.93 1.152 1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                                    </svg>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col-11" style="text-align:center;font-weight:bold;"><span>S/. {{item.comercioproductosdt.precio}}.00</span></div>
                                                <div class="col-2" style="text-align:right;"></div>
                                                {{item.comercioproductosdt.descripcion}}

                                                <!--<hr style="width:100%;">-->

                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align:center;font-weight:bold;color:#0e1f2f;">
                                                            Cantidad:
                                                            <input type="number" style="width:15%;font-weight:bold;color:#0e1f2f;" v-model="cantidad" id="txtCantidadPlatoSeleccionado" name="txtCantidadPlatoSeleccionado" value="1" min="1" max="5" step="1" />
                                                            <button class="btn btn-dark btn-icon btn-xs" id="btnAgregarProducto" @click="AgregarProductoAlCarrito" onclick="LlamarRealizarPedido()" data-toggle="pill" href="#pills-menu4">
                                                                <svg class="icon icon-white">
                                                                    <use xlink:href="../svg/sprite.svg#it-plus"></use>
                                                                </svg>
                                                                <span>Agregar</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr style="width:100%;">
                                                </br>
                                            </div>

                                            <!--iniLista adicionales-->

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h6>Adicionales</h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="it-list-wrapper" v-for="item in comercioproductosadicionales" :value="item.idcomercio">
                                                <ul class="it-list">
                                                    <li>
                                                        <a href="#">
                                                            <div class="it-right-zone">
                                                                <span class="text">{{item.descripcion_categoria}}</span>
                                                                <svg class="icon">
                                                                    <use xlink:href="../svg/sprite.svg#it-chevron-right"></use>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--endLista-->
                                            </br></br>
                                        </div>
                                    </div>
                                </div>

                                <!--##########################################-->
                                <!--4. Realizar Pedido-->
                                <div class="tab-pane fade" id="pills-menu4" role="tabpanel" aria-labelledby="pills-menu4-tab">
                                   
                                    <div id="">
                                        <div class="container-fluid" id="cerrar_m4">

                                            <svg width="2em" height="2em" style="cursor:pointer;" viewBox="0 0 16 16" id="svgAtraz3" onclick="LlamarMenu3();" data-toggle="pill" href="#pills-menu3" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                                            </svg>

                                        </div>
                                        <!--start card1-->
                                        <div style="text-align: right">
                                            <span style="font-size:14px">{{usuarios.usuariotarjetadt.idusuario}} {{usuarios.usuariotarjetadt.nombre}} {{usuarios.usuariotarjetadt.apellidos}}</span>
                                        </div>
                                        <div id="contenedor1" class="card-wrapper" v-for="item in comercioproductos" :value="item.idcomercio">
                                            <div class="" style="padding:14px">
                                                <h6 style="font-weight:bold;">Realizar Pedido</h6>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Producto</th>
                                                                <th scope="col">Cantidad</th>
                                                                <th scope="col">Precio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(producto, index) in productos">
                                                                <th scope="row">{{index + 1}}</th>
                                                                <td>{{item.comercioproductosdt.nombreproducto}}</td>
                                                                <td>{{producto.cantidad}}</td>
                                                                <td>{{item.comercioproductosdt.precio * producto.cantidad}}.00</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                </br>

                                                <form>
                                                    <div class="form-row">
                                                        <div class="col-7">
                                                            <input type="text" hidden class="form-control" placeholder="">
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" value="S./" readonly style="border-bottom:0px;background-color:#fff;margin-left:40px">
                                                        </div>
                                                        <div class="col" style="text-align:center;">
                                                            <input type="text" class="form-control" v-model.number="item.comercioproductosdt.precio" id="txtSubTotal" style="background-color:#fff;text-align:center;" readonly>
                                                            <label class="" for="txtSubTotal">SubTotal</label>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr />
                                                <span>Comercio:<b>{{item.usuariocomerciodt.razonsocial}}</b></span>
                                                <hr />
                                                <form>
                                                    <div class="form-row">
                                                        <div class="col" style="text-align:center;">
                                                            <input type="text" class="form-control" value="1" v-model="item_" id="txtItem" style="text-align:center;" readonly>
                                                            <label class="" for="txtItem">Item</label>
                                                        </div>
                                                        <div class="col" style="text-align:center;">
                                                            <input type="text" class="form-control" value="1" id="txtTCantidad" style="text-align:center;" readonly>
                                                            <label class="" for="txtTCantidad">Cantidad</label>
                                                        </div>
                                                        <div class="col" style="text-align:center;">
                                                            <input type="text" class="form-control" v-model.number="item.comercioproductosdt.precio" id="txtTotal" style="text-align:center;" readonly>
                                                            <label class="" for="txtTotal">Total</label>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr />
                                                <div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="txtDireccion" v-model="direccion_entrega">
                                                        <label for="txtDireccion">Ingrese Dirección</label>
                                                    </div>
                                                </div>
                                                <hr />
                                                <label for="selectTipoPago">Seleccione tipo de pago</label>
                                                <div class="form-group">
                                                    <select v-model="idtipopago" class="form-control" id="selectTipoPago" onchange="selectTipoPago();">
                                                        <option v-for="item in tipopagos" :value="item.idtipopago">{{item.descripcion}}</option>
                                                    </select>
                                                </div>

                                                <div id="contenedor_Pago_Tarjeta" class="hide">
                                                    <h5>Usar tarjeta registrada</h5>
                                                    <hr />

                                                    <form>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input type="text" id="txtNombreTarjeta" readonly v-model="usuarios.nombre_tarjeta" />
                                                            </div>
                                                            <div class="col">
                                                                <input type="text" id="txtNumeroTarjeta" readonly v-model="usuarios.numero_tarjeta" />
                                                            </div>
                                                            <div class="col">
                                                                <div class="link-list-wrapper">
                                                                    <ul class="link-list">
                                                                        <li>
                                                                            <div class="toggles">
                                                                                <label for="switchTarjeta">
                                                                                    <input type="checkbox" id="switchTarjeta"><span class="lever"></span>
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                    <div class="form-group" id="selecttipotarjeta">
                                                        <select v-model="idtipopago" class="form-control" id="selectTipoPagoTarjeta">
                                                            <option v-for="item in tipopagos" :value="item.idtipopago">{{item.descripcion}}</option>
                                                        </select>
                                                    </div>

                                                    <hr />

                                                    <h5>Agregar una tarjeta</h5>

                                                    <div class="form-group" id="">
                                                        <select class="form-control" id="selectTipoTarjetas">
                                                            <option value="1">BCP VISA</option>
                                                            <option value="2">INTERBANK VISA</option>
                                                            <option value="3">BBVA VISA</option>
                                                            <option value="4">SCOTIABANK VISA</option>

                                                        </select>
                                                    </div>



                                                    <form>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="number" class="form-control" id="txtnumerotarjeta"  required pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==16) return false;">
                                                                    <label for="txtnumerotarjeta">Ingrese Nùmero Tarjeta</label>
                                                                </div>
                                                            </div>                                                            
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="txtfechavencimientotarjeta"  required pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==5) return false;">
                                                                    <label for="txtfechavencimientotarjeta">Ingrese Fecha vto. [MM/AA]</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <input type="number" class="form-control" id="txtcvv" required pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==3) return false;">
                                                                    <label for="txtcvv">Ingrese CVV [123]</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>

                                                </br>

                                                <div id="contenedor_boton_confirmar_pedido">
                                                    <button class="btn btn-dark btn-lg btn-block" id="btnRealizarPedido" onclick="LlamarConfirmarCancelarPedido()" data-toggle="pill" href="#pills-menu5">
                                                        <span>Realizar Pedido</span>
                                                    </button>
                                                </div>

                                                </br>

                                                <div id="Contenedor_Boton_Confirmar_Cancelar_Pedido">
                                                    <button class="btn btn-success" id="btnConfirmarPedido" @onclick="fetchConfirmarPedido" onclick="LlamarPedidoConfirmado()" data-toggle="pill" href="#pills-menu5">
                                                        <span>Confirmar Pedido</span>
                                                    </button>
                                                    <button class="btn btn-dark" type="button" id="btnCancelarPedido" @onclick="fetchCancelarPedido" onclick="AlertaSiDeseaCancelarPedido()">
                                                        <span>Cancelar Pedido</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end card1-->
                                    </div>
                                </div>
                                <!--##########################################-->
                            </div>
                            <!--end card1-->
                        </div>
                    </div>

                    <!--0.Barra opciones-->
                    <nav class="bottom-nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <svg class="icon"><use xlink:href="../svg/sprite.svg#it-pa"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon"><use xlink:href="../svg/sprite.svg#it-search"></use></svg>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon"><use xlink:href="../svg/sprite.svg#it-inbox"></use></svg>

                                </a>
                            </li>
                            <li>
                                <a href="../perfil/perfilusuario.html">
                                    <svg class="icon"><use xlink:href="../svg/sprite.svg#it-user"></use></svg>

                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Script Vuejs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {   
                src:"https://res.cloudinary.com/dxqdhkf3m/image/upload/v1595389866/ubereats/comercios/",
                usuarios: [],
                idusuario: 1,
                comercios: [],
                comercioproductos: [],
                idcomercio: 2,
              
            },
            mounted: function () {
                this.ObtenerUsuarioLogueado();
                this.ListarComercios();
                this.fetchListarComercioProductos(this.idcomercio);
            },

            methods: {

                ListarComercios: function () {
                    var url = "http://localhost:58201/api/Usuariocliente/ListarComercios";
                    this.$http.get(url).then(function (response) {
                        this.comercios = response.body;
                    });
                },

                fetchListarComercioProductos: function () {
                    var url = ("http://localhost:58201/api/Producto/ListarComercioProductos?idcomercio=" + this.idcomercio);
                    this.$http.get(url).then(function (response) {
                        this.comercioproductos = response.body;
                    });
                },

                ObtenerUsuarioLogueado() {
                    var url = "http://localhost:58201/api/tarjeta/ObtenerTarjetaRegistrado?idusuario=" + this.idusuario;
                    this.$http.get(url).then(function (response) {
                        this.usuarios = response.body;
                    });
                },
            }
        });

        new Vue({
            el: "#app2",
            data: {
                src: "https://res.cloudinary.com/dxqdhkf3m/image/upload/v1595389866/ubereats/comercios/",
                src2:"https://res.cloudinary.com/dxqdhkf3m/image/upload/v1595380888/ubereats/Productos/productos64x64/",
               comercioproductos: [],
               idcomercio:2
                
            }
            ,
            mounted: function () {
                this.fetchListarComercioProductos(this.idcomercio);
            },

            methods: {
                fetchListarComercioProductos: function () {
                    var url = ("http://localhost:58201/api/Producto/ListarComercioProductos?idcomercio=" + this.idcomercio);
                    this.$http.get(url).then(function (response) {
                        this.comercioproductos = response.body;
                    });
                },
            }
        });

        new Vue({
            el: "#app3",
            data: {
                usuarios: [],
                idusuario: 1,

                src3: "https://res.cloudinary.com/dxqdhkf3m/image/upload/v1595384183/ubereats/Productos/productos640x426/",
                comercioproductos: [],
                comercioproductosadicionales: [], 
                idcomercio: 2,
                cantidad: 1,
                precio:'',
                productos: [],

                idtipopago: 1,
                descripcion: "",
                tipopagos: [],   

                datosrealizarpedido: [],
                idpedido: 4, // tiene q estar en bd
                item_: 1,
                direccion_entrega: "",
                estado1: 2, //confirmado
                estado: 3, //cancelado
               
            },
            //mounted:al ingresar al html se carga los metodos
            mounted: function () {
                this.ObtenerUsuarioLogueado();
                this.fetchListarComercioProductos(this.idcomercio);
                this.fetchListarComercioProductosAdicionales();
                this.btipopagos();
                this.fetchCancelarPedido();
            },
            
            methods: {
                ObtenerUsuarioLogueado() {
                    var url = "http://localhost:58201/api/tarjeta/ObtenerTarjetaRegistrado?idusuario=" + this.idusuario;
                    this.$http.get(url).then(function (response) {
                        this.usuarios = response.body;
                    });
                },

                fetchListarComercioProductos: function () {
                    var url = ("http://localhost:58201/api/Producto/ListarComercioProductos?idcomercio=" + this.idcomercio);
                    this.$http.get(url).then(function (response) {
                        this.comercioproductos = response.body;
                    });
                },

                fetchListarComercioProductosAdicionales: function () {
                    var url = "http://localhost:58201/api/Producto/ListarComercioProductosAdicionales";
                    this.$http.get(url).then(function (response) {
                        this.comercioproductosadicionales = response.body;
                    });
                },

                AgregarProductoAlCarrito: function () {
                    this.productos.push({
                        item: 1,
                        cantidad: this.cantidad

                    });

                },

                btipopagos: function () {
                    var url = "http://localhost:58201/api/pedido/ObtenerListaTipopago";
                    this.$http.get(url).then(function (response) {
                        this.tipopagos = response.body;
                    });
                },

                //Registra en la tabla Pedido 
                //fetchRealizarPedido: function () {
                //    var url = "http://localhost:58201/" + this.categoria_id;
                //    var param = { };
                //    this.$http.post(url, param).then(function (response) {
                //        this.productos = response.body;
                //    });
                //}
                fetchCancelarPedido: function () {
                    var url = "http://localhost:58201/api/pedido/CancelarPedido?idpedido=" + this.idpedido;
                    var param = {
                        instrucciones_especiales_pedido: "",
                        item: this.item_,
                        direccion_entrega: this.direccion_entrega,
                        idcomercio: this.idcomercio,
                        idproducto: this.idproducto,
                        estado: this.estado, //Cancelado
                        idtipopago: this.idtipopago
                    };
                    this.$http.put(url, param).then(function (response) {
                        this.datosrealizarpedido = response.body;
                    });
                },

                fetchConfirmarPedido: function () {
                    var url = "http://localhost:58201/api/pedido/ConfirmarPedido?idpedido=" + this.idpedido;
                    var param = {
                        instrucciones_especiales_pedido: "",
                        item: this.item_,
                        direccion_entrega: this.direccion_entrega,
                        idcomercio: this.idcomercio,
                        idproducto: this.idproducto,
                        estado: this.estado1, //Generado
                        idtipopago: this.idtipopago
                    };
                    this.$http.post(url, param).then(function (response) {
                        this.datosrealizarpedido = response.body;
                    });
                }
            
            }, //cierra methods


        });


    </script>
</body>
</html>
