<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UberEats Comercio::Buscar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    </head>

<body>

    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">COMERCIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="../producto/buscarproducto.html">Buscar Producto<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="../producto/mantenedorproducto.html">Mantenedor Producto</a>

                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                </br></br>
                <div style="text-align:center;">
                    <h5>Busqueda Producto</h5>
                </div>

                </br>
                <div style="text-align:center;">
                    <input class="form-control" type="text" placeholder="Buscar producto por nombre" v-model="nombreproducto">
                </div>
                </br></br>
                <div style="color:gray;">
                    <span>Resultado Busqueda</span>
                </div>
                </br>
                <div id="contenedorResultado">
                    <ul class="list-group list-group-flush" v-for="item in productos" :value="item.idproducto" style="cursor:pointer">
                        <li class="list-group-item">{{item.idproducto}}&nbsp;{{item.nombreproducto}}</li>
                    </ul>
                </div>
                </br>
                </br>
                <div style="text-align:center;">
                    <button type="button" class="btn btn-dark btn-lg btn-block" @click="BuscarProductoPorNombre">Busqueda</button>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>


    <!-- Ini script Vuejs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <!--fin script vuejs-->

    <script>
        new Vue({
            el: "#app",
            data: {               
                productos: [],

                nombreproducto:"Lechon clasico", 
                idcomercio: 1,

            },
            mounted: function () {
                         
            },

            methods: {

                BuscarProductoPorNombre: function () {
                    var url = "http://localhost:58201/api/Producto/BuscarProductoPorNombre?nombreproducto=" + this.nombreproducto + "&idcomercio=" + this.idcomercio;
                    this.$http.get(url).then(function (response) {
                        this.productos = response.body;
                    });
                },
     
            }
        });
    </script>
</body>
</html>
