<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UberEats :: Crear cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Crear Cuenta</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                </div>
            </div>
        </nav>
    </header>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-ingresarnumero" role="tabpanel" aria-labelledby="pills-ingresarnumero-tab"><!--1.Ingresa numero --->
            <div id="app" class="container">
                <div class="container-fluid">
                    <img v-bind:src="src" alt="" width="200" height="100">
                </div></br>

                <div class="bg-transparent text-dark">
                    <div class="card-body">
                        <h5>Vamos allá</h5></br>
                        <h6>Introduce tu número de teléfono (obligatorio).</h6></br>
                        <div class="form-group row">
                            <div class="col-sm-1" style="padding-right:0px">
                                <select v-model="id" class="form-control">
                                    <option v-for="item in paises" :value="item.id">{{item.codigo_pais}}</option>
                                </select>
                            </div>
                            <input type="text" placeholder="Email o número móvil" style="width:536px" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==9) return false;" />
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 text-center">
                                <a class="nav-link  btn-success" id="pills-codverif-tab" data-toggle="pill" href="#pills-codverif" role="tab" aria-controls="pills-codverif" aria-selected="false">Siguiente</a>
                            </div>
                        </div>
                        <div class="">
                            Ya  tienes una cuenta?&nbsp;<a href="inicio.html">Regresa al inicio</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="pills-codverif" role="tabpanel" aria-labelledby="pills-codverif-tab"> <!-- 2. Ingresa codigo de verificacion--->
            <div id="app2" class="container">
                <br /><br />
                <div class="container-fluid">
                    <img v-bind:src="src" alt="" width="200" height="100">
                </div></br>
                <div class="bg-transparent text-dark">
                    <div class="card-body">
                        <h5>Vamos allá</h5></br>
                        <h6>Introduce el codigó que hemos enviado al </h6></br>
                        <div class="form-group">
                            <input type="number" placeholder="0000" style="width:610px" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" />
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 text-center">                                
                                 <a class="nav-link  btn-success" id="pills-email-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Siguiente</a>                            
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab"> <!-- 3.-Ingresa email--->

            <div id="app3" class="container">
                <br /><br />
                <div class="container-fluid">
                    <img v-bind:src="src" alt="" width="200" height="100">
                </div></br>
                <div class="bg-transparent text-dark">
                    <div class="card-body">
                        <h5>Vamos allá</h5></br>
                        <h6>Introduce tu email (obligatorio). </h6></br>
                        <div class="form-group row">
                            <div class="form-control">
                                <input type="text" placeholder="" style="width:610px" pattern="" />
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 text-center">
                                <a class="nav-link btn-success" id="pills-nomape-tab" data-toggle="pill" href="#pills-nomape" role="tab" aria-controls="pills-nomape" aria-selected="false">Siguiente</a>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-nomape" role="tabpanel" aria-labelledby="pills-nomape-tab"> <!-- 4.-Ingresa nombre y Apellidos--->
            <div id="app4" class="container">
                <br /><br />
                <div class="container-fluid">
                    <img v-bind:src="src" alt="" width="200" height="100">
                </div></br>
                <div class="bg-transparent text-dark">
                    <div class="card-body">
                        <h5>Vamos allá</h5></br>
                        <h6>Nombre (obligatorio). </h6></br>
                        <div class="form-group">
                            <input type="text" placeholder="Nombre" style="width:610px" pattern="" />

                        </div>
                        <h6>Apellidos (obligatorio). </h6></br>
                        <div class="form-group">
                            <input type="text" placeholder="Apellidos" style="width:610px" pattern="" />

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 text-center">
                                <a class="nav-link btn-success" id="pills-nuevopass-tab" data-toggle="pill" href="#pills-nuevopass" role="tab" aria-controls="pills-nuevopass" aria-selected="false">Siguiente</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-nuevopass" role="tabpanel" aria-labelledby="pills-nuevopass-tab"><!--5.- Ingresa Nueva contraseña-->
            <div id="app5" class="container">
                <br /><br />
                <div class="container-fluid">
                    <img v-bind:src="src" alt="" width="200" height="100">
                </div></br>
                <div class="bg-transparent text-dark">
                    <div class="card-body">
                        <h5>Vamos allá</h5></br>
                        <h6>Introduce una contraseña (obligatorio). </h6></br>
                        <div class="form-group">
                            <input type="text" placeholder="Contraseña" style="width:610px" pattern="" />
                        </div>                      
                        <div class="form-group row">
                            <div class="col-sm-7">
                                <form method="get" action="menuprincipal.html">
                                    <button class="btn btn-success btn-block">Siguiente</button>
                                </form><br/>
                                <h8>  Al continuar, aceptas los <h8 style="color:forestgreen;font-weight:bold">terminos de uso</h8 style="color:green;"> y la <h8 style="color:forestgreen;font-weight:bold">politica de privacidad.</h8></h8>
                            </div>
                          
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Script Vuejs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

    <script>
        new Vue({
            el: "#app",           
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',

                id: 1,
                codigo_pais: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },
            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });

        new Vue({
            el: "#app2",
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',

                id: 1,
                codigo_pais: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },
            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });

        new Vue({
            el: "#app3",
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',

                id: 1,
                codigo_pais: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },
            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });

        new Vue({
            el: "#app4",
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',

                id: 1,
                codigo_pais: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },
            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });

        new Vue({
            el: "#app5",
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',

                id: 1,
                codigo_pais: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },
            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });
    </script>
</body>
</html>
