<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>UberEats :: Iniciar sessión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                   
                </div>
            </div>
        </nav>
    </header>
  


                <div id="app" class="container">          
                    <div class="container-fluid">
                        <img v-bind:src="src" alt="" width="200" height="100">
                    </div></br>
                    <div class="bg-transparent text-dark">
                        <div class="card-body">
                            <h5>¡Hola de nuevo!</h5></br>
                            <h6>Inicia sesión con tu dirección de email o tu número de móvil.</h6></br>
                            <div class="form-group row">

                                <div class="col-sm-1" style="padding-right:0px">
                                    <select v-model="id" class="form-control">

                                        <option v-for="item in paises" :value="item.id">{{item.codigo_pais}}</option>
                                    </select>

                                </div>
                                <input type="text" placeholder="Email o número móvil" style="width:536px" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==9) return false;" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-7 text-center">
                                    <form method="get" action="menuprincipal.html">
                                        <button class="btn btn-success btn-block">Siguiente</button>
                                    </form>
                                                                    
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="crearcuenta.html">Crear nueva cuenta</a>
                            </div>
                        </div>
                    </div>
                </div>
         


    <!-- Script Vuejs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {
                src: 'https://res.cloudinary.com/dxqdhkf3m/image/upload/v1594243426/ubereats/189-1891389_transparent-uber-eats-logo-png_wjbryn.png',
                id:1,
                nombre: "",
                paises: []

            },
            mounted: function () {
                this.bpaises();
            },          

            methods: {
                bpaises: function () {
                    var url = "http://localhost:58201/api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                }
            }
        });
    </script>
</body>
</html>
