<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UberEats::Orden</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>


<body>
    <div id="app" class="container">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5><span class="glyphicon"></span> Registro de cliente</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="page1" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Ingresa número de telefono movil</h2>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <select id="selectPais" class="form-control" v-model="cliente.idpais">
                                                    <option> </option>
                                                    <option v-for="item in paises" :value="item.idpais">{{item.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="txtCodigoPais">{{pais.codigo_pais}}</span>
                                                    <input type="text" class="form-control" aria-describedby="basic-addon1" v-model="cliente.telefono">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page2" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Ingresa codigo de 4 digitos enviado al XXXXXXX</h2>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-xs-2 col-xs-offset-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page3" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>¿Cual es tu nombre?</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" v-model="cliente.nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="apellido">Apellidos</label>
                                            <input type="text" class="form-control" v-model="cliente.apellidos">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page4" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>¿Cual es tu dirección de correo?</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Correo</label>
                                            <input type="text" class="form-control" v-model="cliente.correo">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page5" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Crea la contraseña para tu cuenta</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Contraseña</label>
                                            <input type="text" class="form-control" v-model="cliente.contraseña">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page6" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Al registrarte aceptas los terminos y condiciones</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right"></h4>
                            </div>
                            <div class="col-xs-3">
                                <button id="btnSiguiente" data-loading-text="Cargando..." type="button" class="btn btn-success btn-block">
                                    {{ui.btn}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script>
        var vApp = new Vue({
            el: "#app",
            data: {
                paises: [
                    //{ id: 1, nombre: "Perú", codigo: "+ 051" },
                    //{ id: 2, nombre: "Colombia", codigo: "+ 052" },
                    //{ id: 3, nombre: "Estados Unidos", codigo: "+ 053" }
                ],
                pais: {},
                cliente: {                   
                    nombre: "",
                    apellidos: "",
                    telefono: "",
                    correo: "",
                    direccion: "",
                    nombrefoto: "",
                    idpais: null,
                    razonsocial: "",
                    idcategoria_comercio: null
                },
                ui: {
                    btn: "Siguiente"
                }
            },
            methods: {
                fetchPaises: function () {
                    var url = base_url + "api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                },
                validarNumero: function (numero) {
                    console.log(numero);
                },
                registarCliente: function (cliente) {
                    var url = base_url + "api/Usuariocliente/InsertarUsuarioCliente";
                    console.log(cliente);
                    this.$http.post(url, cliente).then(function (response) {
                        this.paises = response.body;
                    });
                }
            },
            mounted: function () {
                this.fetchPaises();
            }
        });
        $("#selectPais").on('change', function (e) {
            console.log(this.value, this.options[this.selectedIndex].value, $(this).find("option:selected").val());
            console.log(vApp.paises);
            var id = this.value;
            var vPais = vApp.paises.find(function (item) {
                if (item.idpais == id) {
                    return item;
                }

            });
            console.log(vPais);
            vApp.pais = vPais;
            //$('#txtCodigoPais').text("AA");
        });
        var vListPage = [
            { id: "page1" },
            { id: "page2", isOmitir: false },
            { id: "page3", isOmitir: false },
            { id: "page4", isOmitir: false },
            { id: "page5", isOmitir: false },
            { id: "page6", isOmitir: true }
        ];
        var numPage = vListPage[0];
        $('#' + numPage.id).show();
        $('#btnSiguiente').on('click', function () {
            var continuar = false;
            if (numPage.id == "page1") {
                continuar = true;
            } else {
                continuar = true;
            }
            if (continuar) {
                //var vChildrens = $('pagesRegistro').children;
                var vNext = false
                vListPage.some(function (elemento) {
                    if (vNext) {
                        numPage = elemento;
                        return true;
                    }
                    if (elemento == numPage) {
                        vNext = true;
                    }

                });
                vListPage.forEach(function (elemento) {
                    $('#' + elemento.id).hide();
                });
                $('#' + numPage.id).show();

                //for (i = 0; i < vChildrens.length; i++) {
                //    vChildrens[i].hide();
                //}
                //console.log(vChildrens);
                // business logic...
                if (numPage.isOmitir) {
                    vApp.registarCliente(vApp.cliente);
                    vApp.ui.btn = "Registrar";
                }
            }
        })
    </script>
</body>
</html>
