<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UberEats::Orden</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>


<body>
    <div id="app" class="container">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5><span class="glyphicon"></span> Registro de cliente</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="page1" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2> Ingresa número de telefono movil</h2>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <select id="selectPais" class="form-control" v-model="cliente.idpais">
                                                    <option> </option>
                                                    <option v-for="item in paises" :value="item.idpais">{{item.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="txtCodigoPais">{{pais.codigo_pais}}</span>
                                                    <input type="text" class="form-control" aria-describedby="basic-addon1" v-model="cliente.telefono">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page2" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Ingresa codigo de 4 digitos enviado al XXXXXXX</h2>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-xs-2 col-xs-offset-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page3" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>¿Cual es tu nombre?</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" v-model="cliente.nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="apellido">Apellidos</label>
                                            <input type="text" class="form-control" v-model="cliente.apellidos">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page4" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>¿Cual es tu dirección de correo?</h2>
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Correo</label>
                                            <input type="text" class="form-control" v-model="cliente.correo">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="page5" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Crea la contraseña para tu cuenta</h2>
                                    <div class="form-group">
                                        <label for="nombre">Contraseña</label>
                                        <div class="input-group">
                                            <input id="lblPwd" type="password" class="form-control" v-model="cliente.clave">
                                            <span class="input-group-btn">
                                                <button id="btnPwd" class="btn btn-default" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="page6" style="display:none">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <h2>Al registrarte aceptas los terminos y condiciones</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right"></h4>
                            </div>
                            <div class="col-xs-3">
                                <button id="btnSiguiente" data-loading-text="Cargando..." type="button" class="btn btn-success btn-block">
                                    Siguiente
                                </button>
                                <button id="btnGuardar" data-loading-text="Cargando..." type="button" class="btn btn-success btn-block" style="display:none" @click="registarCliente(cliente)">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script>
        var vApp = new Vue({
            el: "#app",
            data: {
                paises: [
                ],
                pais: {},
                cliente: {                   
                    nombre: "",
                    apellidos: "",
                    telefono: "",
                    correo: "",
                    clave: "",
                    direccion: "",
                    nombrefoto: "",
                    idpais: null
                },
            },
            methods: {
                fetchPaises: function () {
                    let url = base_url + "api/paises/ObtenerListaPaises";
                    this.$http.get(url).then(function (response) {
                        this.paises = response.body;
                    });
                },
                registarCliente: function (cliente) {
                    let url = base_url + "api/Usuariocliente/InsertarUsuarioCliente";
                    this.$http.post(url, cliente).then(function (response) {
                        console.log(response);
                        if (response.body == null) {
                            console.log("regla de negocio no cumplida");
                        } else {
                            console.log(response.body.idusuario);
                        }                        
                    });
                }
            },
            mounted: function () {
                this.fetchPaises();
            }
        });
        $("#selectPais").on('change', function (e) {
            var id = this.value;
            var vPais = vApp.paises.find(function (item) {
                if (item.idpais == id) {
                    return item;
                }

            });
            vApp.pais = vPais;
        });
        var vListPage = [
            { id: "page1" },
            { id: "page2" },
            { id: "page3" },
            { id: "page4" },
            { id: "page5" },
            { id: "page6" }
        ];
        var numPage = vListPage[0];
        $('#' + numPage.id).show();
        $('#btnSiguiente').on('click', function () {
            let vNumPage = vListPage.indexOf(numPage) + 1;
            numPage = vListPage[vNumPage];
            vListPage.forEach(function (elemento) {
                $('#' + elemento.id).hide();
            });
            $('#' + numPage.id).show();

            let vhasNext = vNumPage < vListPage.length - 1;
            if (vhasNext) {
                numPage = vListPage[vNumPage];
            } else {
                $(this).hide();
                $('#btnGuardar').show();
            }
        })
        $('#btnPwd').on('click', function () {
            let vLblPwd = $('#lblPwd');
            if (vLblPwd.attr('type') === 'password') {
                vLblPwd.attr('type', 'text');
            } else {
                vLblPwd.attr('type', 'password');
            }
        })
    </script>
</body>
</html>
